@font-face {
    font-family: 'Futura';
    src: url(../_fonts/futura-no2-d-extra-bold.woff2);
}

.text {
    font-weight: 400;
    line-height: 1;
    &--mezzanine{
        font-weight: 800;
        font-size: 150px;
        font-family: 'Futura';
    }
    &--font-mezzanine{
        font-family: 'Futura';
    }
    &--preloader{
        font-size: clamp(32px, 9.6055vw, 184.426px);
        line-height: .735;
        letter-spacing: .0217em;
    }
    &--xs {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.2px;
    }
    &--sm {
        font-size: 16px;
        line-height: 1.1;
        letter-spacing: -0.2px;
    }
    &--md {
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.2px;
    }
    &--lg {
        font-size: 24px;
        line-height: 1.1;
        letter-spacing: -0.4px;
    }
    &--xl {
        font-size: 32px;
        line-height: 1.2;
        letter-spacing: -0.6px;
    }
    &--xxl {
        font-size: 48px;
        line-height: 1.15;
        letter-spacing: -0.8px;
    }
    &--xxxl {
        font-size: 64px;
        line-height: 1;
        letter-spacing: -1px;
    }
    &--medium {
        font-weight: 500;
    }
    &--semi {
        font-weight: 600;
    }
    &--bold {
        font-weight: 700;
    }
    &--extra{
        font-weight: 800;
    }
}
