.block--breadcrumbs{
    padding: 138px 0px 0;
}
.breadcrumbs{
    ul{
        display: flex;
        align-items: center;
        gap: 8px;
        li{
            display: flex;
            align-items: center;
            gap: 8px;
            a{
                opacity: .6;
                transition: all 0.5s ease;
                &:hover{
                    opacity: 1;
                }
            }
            p{
                opacity: .6;
            }
        }
    }
}